:root {
  --primary: #ccdad1;
  --secondary: #9caea9;
  --tertiary: #788585;
  --light-dark: #6f6866;
  --dark: #38302e;
  --border-radius: 0.3rem;
}


*{
  box-sizing: border-box ;

}
html{
  height: 100%;
  box-sizing: border-box ;
}

body {
  box-sizing: border-box ;
  margin: 0;
  font-family:'Kalam', cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
main {
  margin:20px;
  height: 100%;
  box-sizing: border-box ;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

h2{
  font-size: 1.3rem;
}

h3{
  font-size: 1.5rem;
}
.left{
  margin:5px;
  width: 20%;
  padding-right: 5px;
  background-color:blanchedalmond;
}
.right{
  width: auto;
  margin-left: 5px;
  background-color: #ccdad1;
  
}
#city-list{
  list-style-type: circle;
}
#forecast-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#forecast-list div{
  background-color: darksalmon;
  margin:5px;
  border-radius: 10px;
}